USE [master]
GO
/****** Object:  Database [WEBPHIM]    Script Date: 3/19/2023 5:35:02 PM ******/
CREATE DATABASE [WEBPHIM]
GO
USE [WEBPHIM]
GO
/****** Object:  Table [dbo].[CHUCDANH]    Script Date: 3/19/2023 5:35:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CHUCDANH](
	[ID_CD] [int] IDENTITY(1,1) NOT NULL,
	[TEN_CD] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_CHUCDANH] PRIMARY KEY CLUSTERED 
(
	[ID_CD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CT_MUA]    Script Date: 3/19/2023 5:35:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CT_MUA](
	[ID_GOI] [int] NOT NULL,
	[TEN_TK] [nvarchar](50) NOT NULL,
	[NGAYMUA] [date] NULL,
	[SONGAY] [int] NOT NULL,
 CONSTRAINT [PK_CT_MUA] PRIMARY KEY CLUSTERED 
(
	[ID_GOI] ASC,
	[TEN_TK] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CT_THELOAI]    Script Date: 3/19/2023 5:35:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CT_THELOAI](
	[ID_TL] [int] NOT NULL,
	[ID_PHIM] [int] NOT NULL,
 CONSTRAINT [PK_CT_THELOAI] PRIMARY KEY CLUSTERED 
(
	[ID_TL] ASC,
	[ID_PHIM] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CT_THEODOI]    Script Date: 3/19/2023 5:35:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CT_THEODOI](
	[ID_DSTD] [int] NOT NULL,
	[ID_PHIM] [int] NOT NULL,
 CONSTRAINT [PK_CT_THEODOI] PRIMARY KEY CLUSTERED 
(
	[ID_DSTD] ASC,
	[ID_PHIM] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CT_YEUTHICH]    Script Date: 3/19/2023 5:35:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CT_YEUTHICH](
	[ID_DSYT] [int] NOT NULL,
	[ID_PHIM] [int] NOT NULL,
 CONSTRAINT [PK_CT_YEUTHICH] PRIMARY KEY CLUSTERED 
(
	[ID_DSYT] ASC,
	[ID_PHIM] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DSTHEODOI]    Script Date: 3/19/2023 5:35:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DSTHEODOI](
	[ID_DSTD] [int] IDENTITY(1,1) NOT NULL,
	[ID_ND] [int] NOT NULL,
 CONSTRAINT [PK_DSTHEODOI] PRIMARY KEY CLUSTERED 
(
	[ID_DSTD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DSYEUTHICH]    Script Date: 3/19/2023 5:35:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DSYEUTHICH](
	[ID_DSYT] [int] IDENTITY(1,1) NOT NULL,
	[ID_ND] [int] NOT NULL,
 CONSTRAINT [PK_DSYEUTHICH] PRIMARY KEY CLUSTERED 
(
	[ID_DSYT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GOIHOIVIEN]    Script Date: 3/19/2023 5:35:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GOIHOIVIEN](
	[ID_GOI] [int] IDENTITY(1,1) NOT NULL,
	[SONGAY] [int] NOT NULL,
	[GIA] [money] NOT NULL,
 CONSTRAINT [PK_GOIHOIVIEN] PRIMARY KEY CLUSTERED 
(
	[ID_GOI] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NGUOIDUNG]    Script Date: 3/19/2023 5:35:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NGUOIDUNG](
	[ID_ND] [int] IDENTITY(1,1) NOT NULL,
	[HOTEN] [nvarchar](60) NOT NULL,
	[EMAIL] [varchar](50) NOT NULL,
	[GIOITINH] [varchar](10) NULL,
	[TEN_TK] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_NGUOIDUNG] PRIMARY KEY CLUSTERED 
(
	[ID_ND] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PHIM]    Script Date: 3/19/2023 5:35:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PHIM](
	[ID_PHIM] [int] IDENTITY(1,1) NOT NULL,
	[TENPHIM] [nvarchar](100) NOT NULL,
	[ANH] [nvarchar](100) NULL,
	[MOTA] [nvarchar](500) NULL,
 CONSTRAINT [PK_PHIM] PRIMARY KEY CLUSTERED 
(
	[ID_PHIM] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TAIKHOAN]    Script Date: 3/19/2023 5:35:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TAIKHOAN](
	[TEN_TK] [nvarchar](50) NOT NULL,
	[MATKHAU] [nvarchar](255) NOT NULL,
	[NGAYTAO] [date] NULL,
	[TRANGTHAI] [bit] NULL,
	[ID_CD] [int] NOT NULL,
 CONSTRAINT [PK_TAIKHOAN] PRIMARY KEY CLUSTERED 
(
	[TEN_TK] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TAP]    Script Date: 3/19/2023 5:35:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TAP](
	[ID_TAP] [int] IDENTITY(1,1) NOT NULL,
	[LUOTXEM] [bigint] NULL,
	[NGAYDANG] [date] NULL,
	[ID_PHIM] [int] NOT NULL,
 CONSTRAINT [PK_TAP] PRIMARY KEY CLUSTERED 
(
	[ID_TAP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[THELOAI]    Script Date: 3/19/2023 5:35:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[THELOAI](
	[ID_TL] [int] IDENTITY(1,1) NOT NULL,
	[TEN_TL] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_THELOAI] PRIMARY KEY CLUSTERED 
(
	[ID_TL] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[CHUCDANH] ON 

INSERT [dbo].[CHUCDANH] ([ID_CD], [TEN_CD]) VALUES (1, N'Member')
INSERT [dbo].[CHUCDANH] ([ID_CD], [TEN_CD]) VALUES (3, N'Owner')
INSERT [dbo].[CHUCDANH] ([ID_CD], [TEN_CD]) VALUES (2, N'VIP')
SET IDENTITY_INSERT [dbo].[CHUCDANH] OFF
GO
INSERT [dbo].[TAIKHOAN] ([TEN_TK], [MATKHAU], [NGAYTAO], [TRANGTHAI], [ID_CD]) VALUES (N'admin', N'123456', CAST(N'2023-03-19' AS Date), 1, 3)
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UK_TENCD]    Script Date: 3/19/2023 5:35:02 PM ******/
ALTER TABLE [dbo].[CHUCDANH] ADD  CONSTRAINT [UK_TENCD] UNIQUE NONCLUSTERED 
(
	[TEN_CD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UK_NDTD]    Script Date: 3/19/2023 5:35:02 PM ******/
ALTER TABLE [dbo].[DSTHEODOI] ADD  CONSTRAINT [UK_NDTD] UNIQUE NONCLUSTERED 
(
	[ID_ND] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UK_NGYT]    Script Date: 3/19/2023 5:35:02 PM ******/
ALTER TABLE [dbo].[DSYEUTHICH] ADD  CONSTRAINT [UK_NGYT] UNIQUE NONCLUSTERED 
(
	[ID_ND] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UK_TK]    Script Date: 3/19/2023 5:35:02 PM ******/
ALTER TABLE [dbo].[NGUOIDUNG] ADD  CONSTRAINT [UK_TK] UNIQUE NONCLUSTERED 
(
	[TEN_TK] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UK_TENPHIM]    Script Date: 3/19/2023 5:35:02 PM ******/
ALTER TABLE [dbo].[PHIM] ADD  CONSTRAINT [UK_TENPHIM] UNIQUE NONCLUSTERED 
(
	[TENPHIM] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UK_TENTT]    Script Date: 3/19/2023 5:35:02 PM ******/
ALTER TABLE [dbo].[THELOAI] ADD  CONSTRAINT [UK_TENTT] UNIQUE NONCLUSTERED 
(
	[TEN_TL] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[CT_MUA] ADD  CONSTRAINT [DF_CT_MUA_NGAYMUA]  DEFAULT (getdate()) FOR [NGAYMUA]
GO
ALTER TABLE [dbo].[NGUOIDUNG] ADD  CONSTRAINT [DF_NGUOIDUNG_EMAIL]  DEFAULT ('') FOR [EMAIL]
GO
ALTER TABLE [dbo].[NGUOIDUNG] ADD  CONSTRAINT [DF_NGUOIDUNG_GIOITINH]  DEFAULT (N'Không nói') FOR [GIOITINH]
GO
ALTER TABLE [dbo].[PHIM] ADD  CONSTRAINT [DF_PHIM_ANH]  DEFAULT ('') FOR [ANH]
GO
ALTER TABLE [dbo].[PHIM] ADD  CONSTRAINT [DF_PHIM_MOTA]  DEFAULT ('') FOR [MOTA]
GO
ALTER TABLE [dbo].[TAIKHOAN] ADD  CONSTRAINT [DF_TAIKHOAN_NGAYTAO]  DEFAULT (getdate()) FOR [NGAYTAO]
GO
ALTER TABLE [dbo].[TAIKHOAN] ADD  CONSTRAINT [DF_TAIKHOAN_TRANGTHAI]  DEFAULT ((1)) FOR [TRANGTHAI]
GO
ALTER TABLE [dbo].[TAP] ADD  CONSTRAINT [DF_TAP_LUOTXEM]  DEFAULT ((0)) FOR [LUOTXEM]
GO
ALTER TABLE [dbo].[TAP] ADD  CONSTRAINT [DF_TAP_NGAYDANG]  DEFAULT (getdate()) FOR [NGAYDANG]
GO
ALTER TABLE [dbo].[CT_MUA]  WITH CHECK ADD  CONSTRAINT [FK_CT_MUA_GOIHOIVIEN] FOREIGN KEY([ID_GOI])
REFERENCES [dbo].[GOIHOIVIEN] ([ID_GOI])
GO
ALTER TABLE [dbo].[CT_MUA] CHECK CONSTRAINT [FK_CT_MUA_GOIHOIVIEN]
GO
ALTER TABLE [dbo].[CT_MUA]  WITH CHECK ADD  CONSTRAINT [FK_CT_MUA_TAIKHOAN] FOREIGN KEY([TEN_TK])
REFERENCES [dbo].[TAIKHOAN] ([TEN_TK])
GO
ALTER TABLE [dbo].[CT_MUA] CHECK CONSTRAINT [FK_CT_MUA_TAIKHOAN]
GO
ALTER TABLE [dbo].[CT_THELOAI]  WITH CHECK ADD  CONSTRAINT [FK_CT_THELOAI_PHIM] FOREIGN KEY([ID_PHIM])
REFERENCES [dbo].[PHIM] ([ID_PHIM])
GO
ALTER TABLE [dbo].[CT_THELOAI] CHECK CONSTRAINT [FK_CT_THELOAI_PHIM]
GO
ALTER TABLE [dbo].[CT_THELOAI]  WITH CHECK ADD  CONSTRAINT [FK_CT_THELOAI_THELOAI] FOREIGN KEY([ID_TL])
REFERENCES [dbo].[THELOAI] ([ID_TL])
GO
ALTER TABLE [dbo].[CT_THELOAI] CHECK CONSTRAINT [FK_CT_THELOAI_THELOAI]
GO
ALTER TABLE [dbo].[CT_THEODOI]  WITH CHECK ADD  CONSTRAINT [FK_CT_THEODOI_DSTHEODOI1] FOREIGN KEY([ID_DSTD])
REFERENCES [dbo].[DSTHEODOI] ([ID_DSTD])
GO
ALTER TABLE [dbo].[CT_THEODOI] CHECK CONSTRAINT [FK_CT_THEODOI_DSTHEODOI1]
GO
ALTER TABLE [dbo].[CT_THEODOI]  WITH CHECK ADD  CONSTRAINT [FK_CT_THEODOI_PHIM] FOREIGN KEY([ID_PHIM])
REFERENCES [dbo].[PHIM] ([ID_PHIM])
GO
ALTER TABLE [dbo].[CT_THEODOI] CHECK CONSTRAINT [FK_CT_THEODOI_PHIM]
GO
ALTER TABLE [dbo].[CT_YEUTHICH]  WITH CHECK ADD  CONSTRAINT [FK_CT_YEUTHICH_DSYEUTHICH] FOREIGN KEY([ID_DSYT])
REFERENCES [dbo].[DSYEUTHICH] ([ID_DSYT])
GO
ALTER TABLE [dbo].[CT_YEUTHICH] CHECK CONSTRAINT [FK_CT_YEUTHICH_DSYEUTHICH]
GO
ALTER TABLE [dbo].[CT_YEUTHICH]  WITH CHECK ADD  CONSTRAINT [FK_CT_YEUTHICH_PHIM1] FOREIGN KEY([ID_PHIM])
REFERENCES [dbo].[PHIM] ([ID_PHIM])
GO
ALTER TABLE [dbo].[CT_YEUTHICH] CHECK CONSTRAINT [FK_CT_YEUTHICH_PHIM1]
GO
ALTER TABLE [dbo].[DSTHEODOI]  WITH CHECK ADD  CONSTRAINT [FK_DSTHEODOI_NGUOIDUNG] FOREIGN KEY([ID_ND])
REFERENCES [dbo].[NGUOIDUNG] ([ID_ND])
GO
ALTER TABLE [dbo].[DSTHEODOI] CHECK CONSTRAINT [FK_DSTHEODOI_NGUOIDUNG]
GO
ALTER TABLE [dbo].[DSYEUTHICH]  WITH CHECK ADD  CONSTRAINT [FK_DSYEUTHICH_NGUOIDUNG] FOREIGN KEY([ID_ND])
REFERENCES [dbo].[NGUOIDUNG] ([ID_ND])
GO
ALTER TABLE [dbo].[DSYEUTHICH] CHECK CONSTRAINT [FK_DSYEUTHICH_NGUOIDUNG]
GO
ALTER TABLE [dbo].[NGUOIDUNG]  WITH CHECK ADD  CONSTRAINT [FK_NGUOIDUNG_TAIKHOAN] FOREIGN KEY([TEN_TK])
REFERENCES [dbo].[TAIKHOAN] ([TEN_TK])
GO
ALTER TABLE [dbo].[NGUOIDUNG] CHECK CONSTRAINT [FK_NGUOIDUNG_TAIKHOAN]
GO
ALTER TABLE [dbo].[TAIKHOAN]  WITH CHECK ADD  CONSTRAINT [FK_TAIKHOAN_CHUCDANH] FOREIGN KEY([ID_CD])
REFERENCES [dbo].[CHUCDANH] ([ID_CD])
GO
ALTER TABLE [dbo].[TAIKHOAN] CHECK CONSTRAINT [FK_TAIKHOAN_CHUCDANH]
GO
ALTER TABLE [dbo].[CT_MUA]  WITH CHECK ADD  CONSTRAINT [CK_MUA_SN] CHECK  (([SONGAY]>(0)))
GO
ALTER TABLE [dbo].[CT_MUA] CHECK CONSTRAINT [CK_MUA_SN]
GO
ALTER TABLE [dbo].[GOIHOIVIEN]  WITH CHECK ADD  CONSTRAINT [CK_GIA] CHECK  (([GIA]>(0)))
GO
ALTER TABLE [dbo].[GOIHOIVIEN] CHECK CONSTRAINT [CK_GIA]
GO
ALTER TABLE [dbo].[GOIHOIVIEN]  WITH CHECK ADD  CONSTRAINT [CK_SONGAY] CHECK  (([SONGAY]>(0)))
GO
ALTER TABLE [dbo].[GOIHOIVIEN] CHECK CONSTRAINT [CK_SONGAY]
GO
ALTER TABLE [dbo].[NGUOIDUNG]  WITH CHECK ADD  CONSTRAINT [CK_GIOITINH] CHECK  (([GIOITINH]=N'NAM' OR [GIOITINH]='N?' OR [GIOITINH]=N'KHÔNG NÓI'))
GO
ALTER TABLE [dbo].[NGUOIDUNG] CHECK CONSTRAINT [CK_GIOITINH]
GO
USE [master]
GO
