* {
    box-sizing: inherit;
    padding: 0;
    margin: 0;
    --tw-translate-x: 0;
    --tw-translate-y: 0;
    --tw-rotate: 0;
    --tw-skew-x: 0;
    --tw-skew-y: 0;
    --tw-scale-x: 1;
    --tw-scale-y: 1;
}

html {
    /*16px*/
    font-size: 62.5%;/*làm cho 1rem=10px*/
    line-height: 1.6rem;
    font-family: 'Roboto', sans-serif;/*sans-serif là chủng chữ k có chân*/
    box-sizing: border-box;
}

body {
    margin: 0;
}

/*modal*/
/*animation*/
@keyframes fadeIn {
    from{
        opacity: 0;
    }to{
         opacity: 1;
     }
}

@keyframes growth {
    from{
        transform: scale(var(--growth-from));
    }to{
         transform: scale(var(--growth-to));
     }
}
/*Modal*/
.modal {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 105;
    display: flex;
    animation: fadeIn linear 0.1s ;
}

.modal__overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.4);
}

.modal__body {
    --growth-from: 0.7;
    --growth-to: 1;
    margin: auto;
    position: relative;
    z-index: 1000;
    animation: growth linear 0.1s;
}

.disabled {
    display: none !important;
}
.btn_refresh {
    color: rgb(30, 187, 30);

}
.btn_refresh:hover {
    color: rgb(135, 235, 135);
    cursor: pointer;
}

.invalid {
    border-color: #eb0c0c;
    border-style: solid;
}