<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <link rel="stylesheet" th:href="@{/css/base.css}">
    <link rel="stylesheet" th:href="@{/css/mylist.css}">
    <link rel="stylesheet" th:href="@{/css/management.css}">
    <link rel="stylesheet" th:href="@{/css/style.css}">

    <div th:replace="~{fragments::html_head}"></div>
    <title>Phim đã thích</title>
</head>
<body>
<script th:inline="javascript">
    /* Set message variable with Thymeleaf */
    var message = [[${message}]];
    if(message!==null){
        showMessage(message)
        // console.log(message)
    }
</script>
    <div class="page">
        <header th:replace="~{fragments::navbar}"></header>
        <div class="container">
            <section class="page_section">
                <div >
                    <h2 class="page_header">PHIM ĐÃ THÍCH</h2>
                </div>
                <div class="page_container">
                    <div class="page_container-head row">
                        <div class="page_container-head-item col-2">
                            Ảnh
                        </div>
                        <div class="page_container-head-item col-7">
                            Tên phim
                        </div>
                        <h3 class="page_container-head-item col-2" style="text-align: right;">Lượt xem</h3>
                        <div class="page_container-head-item col-1" style="text-align: right;">
                            ...
                        </div>
                    </div>
                    <ul class="page_container-list">
                        <li class="page_container-item row" th:each = "data, dataStat : ${list}">
                            <div class="col-2">
                                <a th:href="@{/film-info (id=${data.filmID})}">
                                    <img class="page_container-item-img" th:src="${data.imgTierList}" alt="" >
                                </a>
                            </div>
                            <div class="col-7" >
                                <a th:href="@{/film-info (id=${data.filmID})}" style="text-decoration: none;">
                                    <h3  class="page_container-item-name" th:text = "${data.filmName}"></h3>
                                </a>
                            </div>
                            <h3 class="page_container-item-view col-2" th:text=" ${data.getFilmView(data.filmID)}"></h3>
                            <div th:id ="${data.filmID}" class="page_container-item-remove col-1">
<!--                                <a th:href="@{/favorite/remove (id=${data.filmID})}" style="text-decoration: none; font-size: 1.4rem;-->
<!--                                color: #333;">-->
                                    <i class=" fa-solid fa-trash-can"></i>
                                    Xóa
<!--                                </a>-->
                            </div>
                        </li>
                    </ul>
                </div>
            </section>
            
        </div>
        
    </div>
<script type="text/javascript" th:src="@{/js/user_navbar.js}"></script>
<script th:inline="javascript">
    const page = document.querySelector(".page")
    const btnDeleteList = document.querySelectorAll(".page_container-item-remove")
    btnDeleteList.forEach((btnDelete) => {
            var idVal  = btnDelete.id
            var name = btnDelete.closest(".page_container-item").querySelector(".page_container-item-name").textContent.trim()
            btnDelete.onclick = () => {
                const dialog = document.createElement("div")
                dialog.classList.add("modal")
                dialog.innerHTML = `
                    <div class="modal__overlay"></div>
                    <div class="modal__body">
                        <form class="app-dialog" action ="favorite/remove/${idVal}">
                            <div class="app-dialog_main">
                                <div class="app-dialog_header">
                                    <span>Xác nhận</span>
                                    <div class="btn_close">
                                        <i class="fa-solid fa-close"></i>
                                    </div>
                                </div >

                                <div class="app-dialog_container">
                                    <div class="app-dialog_group">
                                        Bạn có thực sự muốn xóa phim <strong>${name}</strong> khỏi danh sách phim đã thích không?
                                    </div>
                                </div>
                            </div>
                            <button class="btn_add">Xác nhận</button>
                        </form>
                    </div>
                    `;
                page.appendChild(dialog);
                var btnClose = document.querySelector(".btn_close")
                btnClose.onclick = () => {
                    var dialog = document.querySelector(".modal")
                    page.removeChild(dialog);
                }
            }
        }
    )
</script>
</body>
</html>