<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <div th:fragment="html_head">
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" th:href="@{/css/message.css}">
        <link rel="stylesheet" th:href="@{/bootstrap/css/bootstrap-grid.css}">
        <link rel="stylesheet" th:href="@{/bootstrap/grid/bootstrap-grid.rtl.css.map}">
        <link rel="stylesheet" th:href="@{/bootstrap/grid/bootstrap-grid.rtl.min.css.map}">
        <link rel="stylesheet" th:href="@{/fonts/fontawesome-free-6.1.1-web/css/all.min.css}">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap" rel="stylesheet">
        <script th:src="@{/js/handleMessage.js}"></script>
    </div>

</head>
<body>
  <header class="header" th:fragment="navbar" th:object="${user}">
      <nav class="header_navbar">
          <ul class="header_navbar_list">
              <li class="header_navbar_item">
                  <a href="/home" class="home">
                      <img th:src="@{/img/logo2.png}" alt="" class="logo">
                  </a>
              </li>
              <li class="header_navbar_item">
                  <a href="/anime/page-1" class="header_navbar_item_link">
                      <span>Anime</span>
                  </a>
              </li>
              <li class="header_navbar_item">
                  <a href="/movie/page-1" class="header_navbar_item_link">
                      <span>Movie</span>
                  </a>
              </li>
<!--              <li class="header_navbar_item">-->
<!--                  <a href="/buy" class="header_navbar_item_link">-->
<!--                      <span>Mua point</span>-->
<!--                  </a>-->
<!--              </li>-->
<!--              <li class="header_navbar_item">-->
<!--                  <a href="" class="header_navbar_item_link">-->
<!--                      <span>Truyện</span>-->
<!--                  </a>-->
<!--              </li>-->
              <li class="header_navbar_item">
                  <a href="/bxh" class="header_navbar_item_link">
                      <span>BXH</span>
                  </a>
              </li>
              <li class="header_navbar_item" style="margin-left: 62px;">
                  <div class="header_search">
                      <input type="text" class="header_search-input" placeholder="Nhập tên phim" >
                      <div class="header_search-field">
                          <span>Search Field</span>
                      </div>
                      <button class="header_search-btn">
                          <i class="header_search-icon fa-solid fa-magnifying-glass"></i>
                      </button>
                  </div>
              </li>
          </ul>

          <div class="header_option">
              <div class="header_option_point">
<!--                  <i class="header_option-icon fa-regular fa-bell"></i>-->
                  <span th:text="${user.totalPoint()} + ' FPoint'" style="font-size:1.4rem "></span>
              </div>

              <div class="header_option-item header_option-user">
                  <!-- <i class="header_option-icon fa-regular fa-user"></i> -->
                  <img th:src="@{${user.imgPath}}" alt="" class="user-avatar">
              </div>
          </div>

          <!-- Popup task -->

          <div class="navbar_user">
              <div class="navbar_user-close">
                  <i class="fa-solid fa-xmark"></i>
              </div>

              <div class="navbar_user-header">
                  <div class="user_avatar">
                      <img th:src="@{${user.imgPath}}"alt="" class="user_avatar-img">
                  </div>
                  <div class="navbar_user-profile">
                      <span class="user_name" th:text="${user.fullName}"></span>
                      <span class="user_role" th:text="${user.account.role.roleName}"></span>
                  </div>
                  <div class="navbar_user-header-tab">
                      <div class="navbar_user-header-tab-item navbar_user-header-tab--active">
                          THÔNG TIN
                      </div>
<!--                      <div class="navbar_user-header-tab-item ">-->
<!--                          THÔNG BÁO-->
<!--                      </div>-->
                  </div>
              </div>
              <div class="navbar_user-body">
                  <!-- <ul class="user_notification-list">
                      <li class="user_notification-item">
                          <a href="#" class="user_notification-item-link">
                              <div class="user_notification-img">
                                  <img th:src="@{img/notification_logo.png" alt="">
                              </div>
                              <div class="user_notification-message">
                                  Phim gì gì đó đã có tập mới vbvbbvbvbvbvbbvbvbvbvbvbvbvbv
                              </div>
                          </a>
                      </li>
                  </ul> -->
                  <ul class="navbar_user-list">
                      <li class="navbar_user-item">
                          <a th:href="@{/profile}" class="navbar_user-item-link">
                              <i class="navbar_user-icon fas fa-regular fa-user"></i>
                              <span>Trang cá nhân</span>
                          </a>

                      </li>
                      <li class="navbar_user-item">
                          <a th:href="@{/edit-info/{id}(id = ${user.idUser})}" class="navbar_user-item-link">
                              <i class="navbar_user-icon fas fa-regular fa-pen"></i>
                              <span>Sửa thông tin</span>
                          </a>
                      </li>
                      <li class="navbar_user-item">
                          <a th:href="@{/change-password}" class="navbar_user-item-link">
                              <i class=" navbar_user-icon fas fa-regular fa-lock"></i>
                              <span>Đổi mật khẩu</span>
                          </a>
                      </li>
                     <li class="navbar_user-item" th:if="${user.account.role.roleName} == 'Owner'"><!---->
                          <a th:href="@{/management(id = ${user.idUser})}"  class="navbar_user-item-link">
                              <i class=" navbar_user-icon fas fa-regular fa-list-check"></i>
                              <span>Quản lý</span>
                          </a>
                      </li>

                  </ul>
                  <hr class="header_user--separator">
                  <ul class="navbar_user-list">
                      <li class="navbar_user-item">
                          <a th:href="@{/favorite}" class="navbar_user-item-link">
                              <i class="navbar_user-icon fas fa-light fa-heart"></i>
                              <span>Phim đã thích</span>
                          </a>

                      </li>
                      <li class="navbar_user-item">
                          <a th:href="@{/follow}" class="navbar_user-item-link">
                              <i class="navbar_user-icon fas fa-regular fa-bell"></i>
                              <span>Phim đang theo dõi</span>
                          </a>
                      </li>
                      <li class="navbar_user-item">
                          <a th:href="@{/my-film}" class="navbar_user-item-link">
                              <i class="navbar_user-icon fa-solid fa-film"></i>
                              <span>Phim đã mua</span>
                          </a>
                      </li>
                      <li class="navbar_user-item" th:if="${user.account.role.roleName == 'Member'}">
                          <a th:href="@{/buy}" class="navbar_user-item-link" >
                              <i class="navbar_user-icon fa-solid fa-coins"></i>
                              <span>Mua FPoint</span>
                          </a>
                      </li>
                  </ul>
                  <hr class="header_user--separator">
                  <div class="navbar_user-item">
                      <a href="/" class="navbar_user-item-link">
                          <i class="navbar_user-icon fas fa-light fa-power-off"></i>
                          <span>Đăng xuất</span>
                      </a>
                  </div>
              </div>
          </div>
      </nav>
  </header>
  <div class="app-header" th:fragment="navbar_management">
      <div class="app-header_logo">
          <a class="management-link" href="/home">
              <img th:src="@{~/img/logo2.png}" alt="" class="management-logo">
          </a>
      </div>
      <div class="app-header_content">

      </div>
  </div>

  <script th:fragment="navbar_js" th:src="@{/js/user_navbar.js}"></script>
</body>
</html>