<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <link rel="stylesheet" th:href="@{/css/base.css}">
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <div th:replace="~{fragments::html_head}"></div>

    <title>HOME PAGE</title>
</head>
<body>
    <div class="web_film">
        <!-- Header -->
        <header th:replace="~{fragments::navbar}"></header>
        <div class="web_container">
            <!-- <section class="container_header">
                <div class="container_slider">

                </div>
            </section> -->
            <section class="container_child container">
                <div>
                    <a href="#" class="container_link">PHIM MỚI NHẤT</a>
                </div>
                <div class="row">
                    <div th:each="data, dataStat : ${newestEp}" th:unless="${dataStat.index > 12}" class="col-3">
                        <a th:href="${data.getVideoPath()}" class="film_link">
                            <div class="film_item">
                                <img th:src="${data.getImgPath()}" alt="" class="film_item_thumb">
                                <div class="film_info">
                                    <h3 class="film_name" th:text="${data.getFilm().getFilmName()}"></h3>
                                    <div class="film_detail">
                                        <span class="film_title">
                                            Tập
                                            <span class="film_title" th:text="${data.getEpNum()}"></span>
                                        </span>

                                        <span class="film_title">
                                            <span class="film_title" th:text="${data.getView()}"></span>
                                            lượt xem
                                        </span>
                                    </div>

                                </div>
                            </div>
                        </a>
                    </div>

                </div>
            </section>


            <!-- Top phim -->
            <section class="container_child container">
                <div>
                    <a href="#" class="container_link">BẢNG XẾP HẠNG</a>
                </div>

                <div class="row">
                    <div th:class="${dataStat.index != 0 ? 'row col-8' : 'col-4'}" th:each="data, dataStat : ${tierList}">
                        <div th:if="${dataStat.index != 0}" class="col-3">
                            <a href="#" class="film_link">
                                <div class="film_item film--top">
                                    <div class="film_status">
                                        <span th:text="${dataStat.index + 1}"></span>
                                    </div>
                                    <img th:src="${data.getImgTierList()}" alt="" class="film_item_thumb">
                                    <div class="film_info">
                                        <h3 class="film_name" th:text="${data.getFilmName()}"></h3>
                                    </div>
                                </div>
                            </a>
                        </div>

                        <a href="#" class="film_link" th:if="${dataStat.index == 0}">
                            <div class="film_item film--top">
                                <div class="film_status">
                                    <span th:text="${dataStat.index + 1}"></span>
                                </div>
                                <img th:src="${data.getImgTierList()}" alt="" class="film_item_thumb">
                                <div class="film_info">
                                    <h3 class="film_name" th:text="${data.getFilmName()}"></h3>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            </section>

            <!-- ANIME MOVIE -->
            <section class="container_child container">
                <div>
                    <a href="#" class="container_link">ANIME MOVIE</a>
                </div>

                <div class="row">
                    <div class="col-2" th:each="data, dataStat : ${movie}">
                        <a href="" class="film_link">
                            <div class="film_movie film--cm_soon">
                                <div class="film_status">
                                    <span>SẮP CHIẾU</span>
                                </div>
                                <img th:src="${data.getImgPath()}" alt="" class="film_item_thumb">
                                <div class="film_info">
                                    <h3 class="film_name" th:text="${data.getFilmName()}"></h3>
                                    <div class="film_detail">
                                        <span class="film_title">567,890 lượt xem</span>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            </section>


            <!-- Hôm nay xem gì-->
            <section class="container_child container">
                <div>
                    <a href="#" class="container_link">HÔM NAY XEM GÌ</a>
                </div>

                <div class="row">
                    <div class="col-2" th:each="data, dataStat : ${randomFilm}">
                        <a href="" class="film_link">
                            <div class="film_movie film--cm_soon">

                                <img th:src="${data.getImgPath()}" alt="" class="film_item_thumb">
                                <div class="film_info">
                                    <h3 class="film_name" th:text="${data.getFilmName()}"></h3>
                                    <div class="film_detail">
                                        <span class="film_title">567,890 lượt xem</span>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            </section>
        </div>


        <footer class="footer">
            <div class="container">
                <div class="footer_content">
                    <div class="social_links">
                        <a href="" class="social_link">
                            <i class="fa-brands fa-facebook-f"></i>
                        </a>
                        <a href="" class="social_link">
                            <i class="fa-brands fa-instagram"></i>
                        </a>
                        <a href="" class="social_link">
                            <i class="fa-brands fa-twitter"></i>
                        </a>
                        <a href="" class="social_link">
                            <i class="fa-brands fa-youtube"></i>
                        </a>
                    </div>
                    <div class="row">
                        <div class="col-3">
                            <h3 class="footer__heading">Giới thiệu</h3>
                            <ul class="footer-list">
                                <li class="footer-item">
                                    <a href="" class="footer-item__link">Giới thiệu</a>
                                </li>
                                <li class="footer-item">
                                    <a href="" class="footer-item__link">Tuyển dụng</a>
                                </li>
                                <li class="footer-item">
                                    <a href="" class="footer-item__link">Điều khoản</a>
                                </li>
                            </ul>
                        </div>
                        <div class="col-3">
                            <h3 class="footer__heading">Giới thiệu</h3>
                            <ul class="footer-list">
                                <li class="footer-item">
                                    <a href="" class="footer-item__link">Giới thiệu</a>
                                </li>
                                <li class="footer-item">
                                    <a href="" class="footer-item__link">Tuyển dụng</a>
                                </li>
                                <li class="footer-item">
                                    <a href="" class="footer-item__link">Điều khoản</a>
                                </li>
                            </ul>
                        </div>
                        <div class="col-3">
                            <h3 class="footer__heading">Giới thiệu</h3>
                            <ul class="footer-list">
                                <li class="footer-item">
                                    <a href="" class="footer-item__link">Giới thiệu</a>
                                </li>
                                <li class="footer-item">
                                    <a href="" class="footer-item__link">Tuyển dụng</a>
                                </li>
                                <li class="footer-item">
                                    <a href="" class="footer-item__link">Điều khoản</a>
                                </li>
                            </ul>
                        </div>
                        <div class="col-3">
                            <h3 class="footer__heading">Giới thiệu</h3>
                            <ul class="footer-list">
                                <li class="footer-item">
                                    <a href="" class="footer-item__link">Giới thiệu</a>
                                </li>
                                <li class="footer-item">
                                    <a href="" class="footer-item__link">Tuyển dụng</a>
                                </li>
                                <li class="footer-item">
                                    <a href="" class="footer-item__link">Điều khoản</a>
                                </li>
                            </ul>
                        </div>
                    </div>

                </div>

            </div>
        </footer>
    </div>
    <script th:replace="fragments::navbar_js"></script>
</body>
</html> 