<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <link rel="stylesheet" th:href="@{/css/base.css}">
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <link rel="stylesheet" th:href="@{/css/watch.css}">
    <div th:replace="fragments::html_head"></div>
    <title th:text="${film.getFilmName()} + ' Tập ' + ${currentEp.getEpNum()}"></title>
</head>

<body>
    <header th:replace="fragments::navbar"></header>

    <div class="watch" th:object="${user}">
        <div class="row">
            <div class="col-9 watch-field">
                <iframe width="100%" height="100%" th:src="@{https://www.youtube.com/embed/{url} (url=${currentEp.getVideoPath()}, autoplay=1)}"
                        title="YouTube video player" frameborder="0" allow="accelerometer; autoplay;
                       clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>

                <div class="ep-film-name" th:text="${film.getFilmName()} + ' tập ' + ${currentEp.getEpNum()}"></div>
                <div class="ep-film-view" th:text="${currentEp.getView()} + ' lượt xem'"></div>

                <div class="film-action">
                    <a class="favorite-btn" th:href="@{/set-fav-film (favList=${user.getFavoriteList().getIdFavoriteList()},
                        favFilm=${film.getFilmID()}, idEp=${currentEp.getEpID()}
                    )}">
                        <i class="fa-solid fa-heart"></i>
                        thích
                    </a>
                    <a class="following-btn" th:href="@{/set-following-film (followingList=${user.getWatchList().getIdWatchList()},
                        followingFilm=${film.getFilmID()}, idEp=${currentEp.getEpID()}
                    )}">
                        <i class="fa-sharp fa-solid fa-bell"></i>
                        theo dõi
                    </a>
                </div>

                <div class="film-info">
                    <img class="film-img" th:src="${film.getImgPath()}">
                    <p class="film-desc" th:text="${film.getDescribe()}"></p>
                </div>
            </div>

            <div class="col-3 ep-field">
                <div class="ep-title">Danh sách tập</div>
                <div th:each="data, dataStat : ${film.getEpisodeList()}">
                    <a class="ep-link" th:id ="${data.getEpID()}" th:href="@{/watch (id=${data.getFilm().getFilmID()}, ep=${data.getEpID()})}">
                        <div class="ep-item">
                        <span style="overflow: hidden; width: 106px; height: 100% ">
                                <img class="ep-img" alt="" th:src="${data.getImgPath()}">
                        </span>
                            <div class="ep-info">
                                <div class="ep-text" th:text="'Tập ' + ${data.getEpNum()}"></div>
                                <div class="ep-text-sub" th:text="'Lượt xem ' + ${data.getView()}"></div>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>

    <script th:replace="fragments::navbar_js"></script>
    <script th:inline="javascript">
        var curid = [[${currentEp.epID}]]
        const epList = document.querySelectorAll(".ep-link")
        epList.forEach((ep)=>{
            console.log(parseInt(ep.id) == parseInt(curid))
            if(parseInt(ep.id) == parseInt(curid)){
                ep.classList.add("ep-active")
                ep.style = "pointer-events: none";

            }
        })
    </script>
</body>
</html>